# Node
TZ=UTC
PORT=3334
HOST=0.0.0.0
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Database (surchargé par docker-compose.yml en conteneur)
DB_HOST=localhost
DB_PORT=5434
DB_USER=svc_auth
DB_PASSWORD=
DB_DATABASE=svc_auth

# Internal auth — clé publique EdDSA du Gateway (JWK JSON encodé en base64)
GATEWAY_JWT_PUBLIC_KEY=
GESTION_JWT_PUBLIC_KEY=
FACTURES_JWT_PUBLIC_KEY=
BILLETTERIE_JWT_PUBLIC_KEY=